<nav class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h4>
                    <a href="#!/home">KD Enterprises</a>
                </h4>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#!/about">About</a></li>
                    <li><a href="#!/locations">Locations</a></li>
                    <li><a href="#!/contact">Contact</a></li>
                    <li><a href="/swagger">API</a></li>
                </ul>
                <search></search>
                <div class="pull-right">
                    <a href="#!/login">Login</a>
                    <a href="#!/register">Register</a>
                </div>
            </div>
        </div>
    </div>
</nav>